.search-bar {
  margin: 10vh 0 5vh 0;
}

.table-td1 {
  width: 100px;
}

.table-td2 {
  width: 500px;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
 }

 .nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
