.body {
  height: 100vh;
  background-color: rgb(241, 241, 241, 0.8);
}
.search-bar {
  margin: 10vh 0 5vh 0;
}

.table-td1 {
  width: 100px;
}

.table-td2 {
  width: 500px;
}
/* MiningButton - component */
/* .mining-button {
  display: flex;
  justify-content: center;
} */

.mining-button:hover {
  transform: scale(1.4);
}

/* NaveBar- components*/
.nav-bar {
  margin: 0 0 20px 0;
  padding-top: 20px;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  cursor: pointer;
 }

 .main-logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

/* SignupPage - page */
.signup-form {
  margin: 15vh 20vw;
}

.signup-form h3 {
  text-align: center;
  margin-bottom: 50px;
}

/* Mypage - page */
.mypage-form {
  margin: 13vh 23vw;
}

.mypage-form h2 {
  text-align: center;
}