.body {
  min-height: 100vh;
  height: auto;
  background-color: rgb(241, 241, 241, 0.8);
}

/* SearchBar - components */
.search-bar {
  margin: 10vh 0 5vh 0;
  padding: 15px;
  border: 1px solid black;
}

/* BlockALl - component */
.block-data {
  padding: 15px;
  border: 1px solid black;
}

.block-data h2 {
  text-align: center;
}

.block-hash {
  word-break: break-all;
  cursor: pointer;
}

/* MiningButton - component */

.mining-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 3vh;
}

.mining-button:hover {
  transform: scale(1.4);
}

/* NaveBar- components*/
.nav-bar {
  margin: 0 0 20px 0;
  padding-top: 50px;
}

.login-button {
  position: absolute;
  top: 20px;
  right: 28px;
  margin-right: 30px;
  cursor: pointer;
 }

.logout-button {
  display: flex;
  position: absolute;
  top: 1px;
  right: 28px;
  margin-right: 30px;
  cursor: pointer;
  text-align: center;
}

.mypage-button {
  position: absolute;
  top: 20px;
  right: 100px;
}

.mypage-button img {
  margin-bottom: 11px;
}

.main-logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-family: 'Gugi', cursive;
}

.main-logo h1 {
  margin-left: 15px;
}

/* BlockDetail - components */
.block-detail {
  margin: 10vh 0 5vh 0;
  padding: 15px;
  border: 1px solid black;
  word-break: break-all;
}

/* SignupPage - page */
.signup-form {
  margin: 15vh 20vw;
}

.signup-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Mypage - page */
.mypage-form {
  margin: 13vh 3vw;
}

.mypage-form h2 {
  text-align: center;
}

/* LoginPage - page */
.login-form {
  margin: 15vh 20vw;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
}